= form_for user, html: {class: 'poop'} do |f|
  %h1 Fill this out when you poop:
  = f.fields_for :dumps do |d|
    %fieldset.poop
      %ul
        %li
          = d.label :duration
          = d.number_field :duration, min: 0, placeholder: "Poop time (minues)"
        %li
          = d.label :weight
          = d.number_field :weight, min: 0, placeholder: "Weight (pounds)"
    %fieldset.colors
      = d.hidden_field :color
      %p Pick a color
      %ul
        %li
          - Dump::COLORS.each do |color_name, color_hex|
            %div.color{class: [color_name, active?(color_name, d.object.color)],
              style: "background: #{color_hex}",
              data: { value: color_name } }
              = color_name.to_s.humanize

    %fieldset.kinds
      = d.hidden_field :kind
      %p= d.label :kind, 'Type'
      %ul
        %li
          - Dump::KINDS.each do |kind|
            %div.kind{class: [kind, active?(kind, d.object.kind)] , data: { value: kind }}
              = kind.humanize

  %fieldset.user
    %h2
      = link_to "Sign up", "#", class: "sign_up active"
      or
      = link_to "Sign in", "#", class: "sign_in"

    %ul.sign_up
      %li
        = f.label :username
        = f.text_field :username, placeholder: "Username"
      %li
        = f.label :email
        = f.email_field :email, placeholder: "Email"
      %li
        = f.label :password
        = f.password_field :password, placeholder: "Password"
      %li
        = f.label :password_confirmation
        = f.password_field :password_confirmation, placeholder: "Password confirmation"

    %ul.sign_in
      %li
        -# = f.label :login, "Username or email"
        -# = f.text_field :username, placeholder: "Username or email"
      -# %li
        -# = f.label :password
        -# = f.password_field :password, placeholder: "Password"

  %fieldset.actions
    = f.submit "Submit"
